= form_errors(integration)

%div
  - if @default_integration
    .js-vue-default-integration-settings{ data: integration_form_data(@default_integration, group: @group, project: @project) }
  .js-vue-integration-settings{ data: integration_form_data(integration, group: @group, project: @project) }
    .js-integration-help-html.gl-display-none
      -# All content below will be repositioned in Vue
      - if lookup_context.template_exists?('help', "shared/integrations/#{integration.to_param}", true)
        = render "shared/integrations/#{integration.to_param}/help", integration: integration
      - elsif integration.help.present?
        .info-well
          .well-segment
            = markdown integration.help
            - if integration.try(:attribution_notice)
              %p
                %em= integration.attribution_notice
